[Unit]
Description=K3s server node initialization
After=network-online.target
Wants=network-online.target
ConditionPathExists=!/var/lib/k3s-initialized

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
KillMode=process
Delegate=yes
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=on-failure
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStart=/usr/local/bin/k3s-worker.sh
ExecStartPost=/bin/touch /var/lib/k3s-initialized
RemainAfterExit=yes
